/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Work Sans', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 60px)};
    --font-size-h2: #{typo(30px, 50px)};
    --font-size-h3: #{typo(25px, 40px)};
    --font-size-h4: #{typo(24px, 32px)};
    --font-size-p: 16px;
    --font-size-p-big: 18px;
}
