{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.jpg" alt="labo" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - révision</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>
                    <p class="code">HTML + CSS</p>
                    <a href="#" class="button">voir le laboratoire</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.jpg" alt="labo" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - révision</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>
                    <p class="code">HTML + CSS</p>
                    <a href="#" class="button">voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "_partials/_footer.html" %}
